div#info-footer{
    display: flex;
    justify-content: space-around;
    gap: 10rem;
}

div#links{
    display: flex;
    gap: 4rem;
    padding-right: 4rem;
}

div.list{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

div.list ul{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

div.list a, li{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    text-decoration: none;
}

.link{
    cursor: pointer;
}

footer{
  background-color: #00A3E0;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


footer a, li{
  font-family:'FF Unit Slab Pro', sans-serif;
  color: #E1E1E1;
  font-weight: 500;
  font-size: 1.2rem;
  list-style: none;
}
