html{
    scroll-behavior: smooth;
}

#data{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 3rem;
    background-color: rgb(14, 102, 164);
    color: #fff;
    overflow: hidden;
}
  
#data h2{
    font-family:'FF Unit Slab Pro', sans-serif;
    font-size: 2rem;
    text-align: center;
}
  
div#title-data h3{
    font-family:'FF Unit Slab Pro', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
}
  
.data-content{
    display: flex;
    flex-direction: row;
    transform: translateX(200%);
    transition: transform 0.5s ease;
}
  
.data-content:nth-of-type(even){
    transform: translateX(-200%);
}
  
.data-content.show{
    transform: translateX(0);
}
  
.data-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.2rem;
}
  
.data-text a{
    color: #fff;
}
  
.data-text h3{
    font-size: 1.5rem;
    font-family: 'FF Unit Slab Pro', sans-serif;
}
  
.data-text p{
    font-size: 1.2rem;
    font-family: 'FF Unit Slab Pro', sans-serif;
}
  
.data-content img{
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
  
div.atendimento h3{
    font-size: 1.8rem;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
  
.carousel .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.carousel .slide.active {
    opacity: 1;
}
  
.carousel .slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
  
.carousel .slide .caption {
    position: absolute;
    font-family:'FF Unit Slab Pro', sans-serif;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width: 40vw;
    text-align: left;
}
  
.carousel .slide .caption h1 {
    font-size: 2em;
}
  
.carousel .slide .caption p {
    font-size: 1em;
}